.feature{
    display: flex;
    flex-direction: column;
    background-color: #50577ab4;
    height: 85vh;
    width: 18vw;
    justify-content: space-around;
    /* border-radius: 10%; */
}

.addnew{
    width: 15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
}

.tasklist{
    width: 15vw;
    height: 30vh;
    background-color: rgba(17, 19, 138, 0.753);
    margin: 0 auto;
    border-radius: 5%;
}
.todo{
    text-decoration: underline;
    font-size: larger;
}

.otherdata{
    height: max-content;
    width: 15vw;
    background-color: rgba(51, 53, 145, 0.466);
    margin: 0 auto;
    border-radius: 5%;
    color: bisque;
}

.addbtn{
    background-color: #50577a33;
    border-radius: 3%;
    color: bisque;
}

#taskarea{
    background-color: rgba(17, 38, 155, 0.185);
    color: bisque;
}