@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&display=swap');

.homeheader{
    width: 100vw;
    height: 10vh;
    margin: 0;
    justify-content: space-around;
    text-align: center;
    padding: 0 auto;
    display: flex;
    position: relative;
    animation: headchange 10s infinite;
}

.hcontainer{
    width: 30vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-color: #6b728e56;
    border-radius: 10%;
}

.kyra{
    font-family: 'Alkatra', cursive;
    color: rgba(108, 98, 252, 0.945);
}

@keyframes headchange {
    0% {background-color: #000000;}
    20% {background-color: #3b3b3b;}
    40% {background-color: #5f5f5f;}
    60% {background-color: #5f5f5f;}
    80% {background-color: #333333;}
    100% {background-color: #000000;} 

}