.sideNav{
    width: 8vw;
    height: 85vh;
    background-color: #4042588f;
    /* border-radius: 15%; */
    display: flex;
    flex-direction: column;
    color: rgb(194, 141, 243);
    /* justify-content: space-around; */
}

p{
    color: rgb(220, 191, 250);
}